


/*  OVERLAY MENU START*/
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  background-image: url("ShopWindow2.jpg");
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 14;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.weather-content {
  position: relative;
  top: 16%;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

h3, h1{
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: gray;
  display: block;
  line-height: 4px;
  }

h2 {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: gray;
  display: block;
  line-height: 7px;
  }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.closebtnleft {
  position: absolute;
  top: 4px;
  left: 14px;
  font-size: 20px;
  text-color: black;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*  OVERLAY MENU END    */

/*  WINDOW STYLE START  */
.portrait {
    max-width: 30%;
    height: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(0% 0% 2% 0%);
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
}
/*  WINDOW STYLE END  */

/*  CAROUSEL START   */

/*Below is where you set the fading timer for carousels (fading #s infinite..)*/
/*You will need to change the "setTimeout" for the carousel in HTML <script> as well.*/
/*For every second of fading, add 900 to the carousel timeout.*/
.w3-animate-fading{animation:fading 5s infinite;}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}

.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}

/*  CAROUSEL END   */