.IndexBody{
background-image: url("ShopWindow.jpg")
}

IndexBody{
background-image: url("ShopWindow.jpg")
}


body {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:0;
    	padding:0;
}

.header-setupPanel {
    /*border-radius: 1px;
    background: transparent;
    color: #000000;
    border-color: #f4f4f4;
    padding: 20px;
    margin-top: 1px;*/
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    color: white;
    text-align: center;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
    border: 1px;

}


.header {
    width: 100%;
    height: 20%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 1px;
    border-color: #000000;
    padding: 25px;

}


.imageBox {
    position: center;
    width: 60%;
    height: 100vh;
    background-color: #f4f4f4;
    color: #000000;
    text-align: center;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 3px;
    border-color: #f4f4f4;
    overflow: scroll;
}

.content {
display:fixed;
padding: 25px;
padding-bottom: 20%;
padding-top: 10%;

}


.city-dropdown,
.smhidays-dropdown,
.department-dropdown,
.brand-dropdown,
.store-dropdown,
.monitor-dropdown {
    width: 98%;
    height: 100%;
    background-color: #ffffff;
    /*box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);*/
   box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 3px;
    border-color: #f4f4f4;
    padding: 10px;
    -moz-appearance:none; /* Firefox */
   /* -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.city-dropdown:hover,
.department-dropdown:hover,
.smhidays-dropdown:hover,
.brand-dropdown:hover,
.store-dropdown:hover,
.monitor-dropdown:hover {
background-color: #A6C8BA;
}


table, th.moveleft{
text-align: left;
}

.startPanel-btn {
    width: 15%;
    height: 25%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    border: 0px;
    border-radius: 3px;
    border-color: #f4f4f4;
    padding: 25px;
    font-size: 12px;
    margin-top: 3%;
    /*margin-bottom:3%;*/

}

.showContent-btn {
   width: 15%;
       height: 25%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    border: 0px;
    border-radius: 3px;
    border-color: #f4f4f4;
    padding: 3px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.startPanel-btn:hover,
.showContent-btn:hover {
background-color: #A6C8BA;
}

.portrait {
    max-width: 30%;
    height: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(0% 0% 2% 0%);
    background-image: url("SpringDay.jpg");
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.portrait3 {
width: 150%;
}


/*Below is where you set the fading timer for carousels (fading #s infinite..)*/
/*You will need to change the "setTimeout" for the carousel in HTML <script> as well.*/
/*For every second of fading, add 900 to the carousel timeout.*/
.w3-animate-fading{animation:fading 5s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.w3-content,.w3-auto {
margin-left:auto;
margin-right:auto;
}

.w3-content {
max-width:980px;
}

.w3-auto{
max-width:1140px;
}

.w3-section,.w3-code {
margin-top:16px!important;
margin-bottom:16px!important;
}


/* The navigation bar */
.contentbar {
  overflow: hidden;
  background-color: #f4f4f4;
  position: center; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */


}

/* Links inside the navbar */
.contentbar a {

  display:inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.contentbar li{
    display:inline;
}

/* Change background on mouse-over */
.contentbar a:hover {
  background: #A6C8BA;
  color: black;
}

.navbar {
  background-color: #f4f4f4;
  border: 1px;
  border-color: #333;
  position: center; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 5%;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
      border: 1px;
      margin: 0;

}

/* Links inside the navbar */
.navbar a {
  display:inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.navbar li{
    display:inline;
}

container .navbar li{
    display:inline;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #A6C8BA;
  color: black;
}


/* Add a color to the active/current link */
.active {
  background-color: #A6C8BA;
  color: white;
}

.disabledNavLink {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.paginator {
  text-decoration: royalblue;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;


}

#paginationId {
    position: relative;

    padding: 12px 20px;
    position: center;

}


#nobg{
background-color:white;
}
#nobg2{
background-color:#A6C8BA;
color:white;
}

.form-control:focus{
  border-color: #A6C8BA;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #A6C8BA;
}

.page-link .active {
background-color:#A6C8BA;
color:white;
}

.page-link a {
color:black;
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 15px;
    line-height: 1.5;
    }

#paginationCenter {
margin: auto;
border: none;
background-color:#white;
}

.container-test {
    height: 100%;
    width: 100%;
    background-color: #A6C8BA;
    position:fixed;

}

.header-test {
    height: 5%;
    width: 100%;
    background: #333;
    color: white;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
      border: 1px;
    position:fixed;
    margin: 0 auto;
    text-align: center;

}

.footer-test {
    height: 10%;
    width: 100%;
    background: #333;
       position: fixed;
            bottom: 0pt;
            left: 0pt;
            top: auto;
             text-align: center;
              box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, .2);
              border: 1px;
}

.footer {
  background-color: #f4f4f4;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, .2);
  border: 1px;
  width: 100%;
      background-position: 0% 0%;
        position: fixed;
        bottom: 0pt;
        left: 0pt;
        top: auto;
}

.body-test {
    height: 80%;
    width: 90%;
    background: #ffffff;

    top: 10%;
    left: 5%;
    bottom: 10%;
    position: fixed;
    margin: 0 auto;
}

.body-content {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;

}

.scroll-body {
    height: 100vh;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    overflow: auto;

 }

.tableBody {
border-collapse: collapse;
   margin: 0;
   font-size: 0.9em;
   font-family: sans-serif;
   width: 100%;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.tableBody thead tr {
   background-color: #f4f4f4;
   color: #000000;


}

.tableBody th,
.tableBody td {
     padding: 20px 0px;
}

.tableBody tbody tr {
    border-bottom: 1px solid #000000;
}

.tableBody tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableBody tbody tr:last-of-type {
    border-bottom: 2px solid #f3f3f3;
}

.tableBody tbody tr.active-row {
    font-weight: bold;
    color: #009879;

