
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
}


.imageBox {
    width: 80%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 3px;
    border-color: #f4f4f4;
}

.header-setupPanel {
    border-radius: 1px;
    background: transparent;
    color: #000000;
    border-color: #f4f4f4;
    padding: 20px;
    margin-top: 1px;
}

.header {
    width: 100%;
    height: 20%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 1px;
    border-color: #000000;
    padding: 25px;
}

.city-dropdown, .smhidays-dropdown, .department-dropdown {
    width: 98%;
    height: 100%;
    background-color: #ffffff;
    /*box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);*/
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 3px;
    border-color: #f4f4f4;
    padding: 25px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.city-dropdown:hover,
.department-dropdown:hover,
.smhidays-dropdown:hover {
background-color: #f4f4f4;
}


.startPanel-btn {
    width: 15%;
    height: 25%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    border: 0px;
    border-radius: 3px;
    border-color: #f4f4f4;
    padding: 25px;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom:5%;

}

.startPanel-btn:hover {
background-color: #f4f4f4;
}






