<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add content</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css "
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>


<div class="container-test" align="center">
    <ul class="navbar" style="display: inline-block;" align="center">
        <li><a href="../setuppanel">Store setup</a></li>
        <li><a class="disabledNavLink" href="">Website</a></li>
        <li><a class="disabledNavLink" href="">Mobile app</a></li>
        <li><a th:href="'../scenarios'">Show scenarios</a></li>
    </ul>

    <div class="header-test">

        <h4 align="center" style="margin-top: 7px; font-weight: bold;" th:text="'Add content to scenario ' + ${scenarioId}"></h4>
    </div>

    <div class="scroll-body">
        <div class="body-test" align="center">
            <div class="body-content">
                <h5 class="display-6"><p th:text="${scenarioDesc}"></p></h5>


                <form th:action="'/savecontent/' +${scenarioId}" th:object="${content}" method="POST">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label for="image">Image</label>
                            <input type="text" th:field="*{image}" class="form-control bg-light text-dark"
                                   id="image"
                                   aria-describedby="imageHelp" placeholder="http://urladdresstopicture.png">
                            <small id="imageHelp" class="form-text text-muted">link to image file</small>
                        </div>
                        <div class="col-sm-4">
                            <label for="url">Url</label>
                            <input type="text" th:field="*{url}" class="form-control bg-light text-dark" id="url"
                                   aria-describedby="urlHelp" placeholder="http://urladdresscontent.png">
                            <small id="urlHelp" class="form-text text-muted">send to this link if click</small>
                        </div>
                        <div class="col-sm-4">
                            <label for="text">Text</label>
                            <input type="text" th:field="*{text}" class="form-control bg-light text-dark" id="text"
                                   aria-describedby="textHelp" placeholder="Shoes">
                            <small id="textHelp" class="form-text text-muted">show this text by the image</small>
                        </div>
                    </div>
                    <p></p>
                    <button type="submit" class="startPanel-btn">Save content</button>
                </form>
                <br>

                <h3 class="display-6">Existing content in this scenario:</h3>
                <div class="container">
                    <div class="row">

                        <div class="col-sm" th:each="contentItem : ${contentList}">
                            <img th:src="${contentItem.image}" style="max-width:80%;">
                            <h5 class="card-title" th:text="${contentItem.text}"></h5>
                            <a th:href="'/removecontent/'+${contentItem.id}+'/'+${scenarioId}"
                               class="btn btn-outline-danger"
                               style="font-size:13px; margin-bottom:10px;">Delete</a>
                        </div>
                    </div>

                    <hr>
                    <div class="panel panel-default">

                        <nav aria-label="...">
                <span id="paginationId" class="pagination pagination-lg">
                    <div class="page-link" id="paginationCenter">
                        <li class="page-item active" id="nobg" aria-current="page">

                            <span class="page-item" th:if="${showPrev}">
                                <a th:href="'/addcontent/' + ${currentPage-1}" th:text="Previous"></a>
                            </span>

                            <span class="page-item" th:each="page : ${scenarios}">
                                <span th:if="${currentPage == page.id}" id="nobg2" th:text="${page.id}"></span>
                                <a th:if="${currentPage != page.id}" th:href="'/addcontent/' + ${page.id}"
                                   th:text="${page.id}"></a>
                            </span>

                            <span class="page-item" th:if="${showNext}">
                                <a th:href="'/addcontent/' + ${currentPage+1}" th:text="Next"></a>
                            </span>


                    </div>
                </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-test">
    <div class="footer">
        <img src="../hmGroupBrands1.png" align="center">
    </div>
</div>


</body>
</html>
