<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add content</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css "
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>


<div class="container" align="center">

    <div class="header-setupPanel">
        <!-- <img src="hmGroup1.jpeg" height="100%" width="10%">-->
        <ul class="navbar" style="display: inline-block;" align="center">
            <li><a href="../setuppanel">Store setup</a></li>
            <li><a class="disabledNavLink" href="">Website</a></li>
            <li><a class="disabledNavLink" href="">Mobile app</a></li>
            <li><a th:href="'../scenarios'">Show scenarios</a></li>
        </ul>
    </div>

    <div class="imageBox" style="background-color:#f4f4f4; width:100%; margin-bottom:120px; padding-bottom:430px; padding-left:20px;padding-right:20px; padding-top:120px;">

        <h3 align="center"  th:text="'Add content to scenario ' + ${scenarioId}"></h3>
        <h5 class="display-6"><p th:text="${scenarioDesc}"></p></h5>


        <form th:action="'/savecontent/' +${scenarioId}" th:object="${content}" method="POST">
            <div class="form-row">
                <div class="col-sm-4">
                    <label for="image">Image</label>
                    <input type="text" th:field="*{image}" class="form-control bg-light text-dark" id="image"
                           aria-describedby="imageHelp">
                    <small id="imageHelp" class="form-text text-muted">link to image file</small>
                </div>
                <div class="col-sm-4">
                    <label for="url">Url</label>
                    <input type="text" th:field="*{url}" class="form-control bg-light text-dark" id="url"
                           aria-describedby="urlHelp">
                    <small id="urlHelp" class="form-text text-muted">send to this link if click</small>
                </div>
                <div class="col-sm-4">
                    <label for="text">Text</label>
                    <input type="text" th:field="*{text}" class="form-control bg-light text-dark" id="text"
                           aria-describedby="textHelp">
                    <small id="textHelp" class="form-text text-muted">show this text by the image</small>
                </div>
            </div>
            <p></p>
            <button type="submit" class="startPanel-btn">Save content</button>
        </form>
        <br>

        <h3 class="display-6">Existing content in this scenario:</h3>
        <div class="container">
            <div class="row">

                <div class="col-sm" th:each="contentItem : ${contentList}">
                    <img th:src="${contentItem.image}" style="max-width:80%;">
                    <h5 class="card-title" th:text="${contentItem.text}"></h5>
                    <a th:href="'/removecontent/'+${contentItem.id}+'/'+${scenarioId}" class="btn btn-outline-danger"
                       style="font-size:13px; margin-bottom:10px;">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   model.addAttribute("scenarioId", scenarioId); /removecontent/{contentId}/{scenarioId}
        model.addAttribute("scenarioDesc", scenario.getDescription());
        model.addAttribute("contentList", contentList);-->

<div class="footer" align="center">
    <img src="../hmGroupBrands.png" align="center">
</div>
</body>
</html>