<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add content</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div class="imageBox" align="center">
    <div class="header-setupPanel" align="left">
        <img src="hmLogo.png" height="7%" width="7%">
        <h1 align="center">Add content to scenario</h1>
        <p th:text="${scenarioId}"></p>
        <h3 class="display-4"> <p th:text="${scenarioDesc}"></p></h3>
    </div>

    <form th:action="'/saveContent/' +${scenarioId}" th:object="${content}" method="POST">
        <div class="form-row">
            <div class="col-sm-4">
                <label for="image">Image</label>
                <input type="text" th:field="*{image}" class="form-control bg-light text-dark" id="image" aria-describedby="imageHelp">
                <small id="imageHelp" class="form-text text-muted">link to image file</small>
            </div>
            <div class="col-sm-4">
                <label for="url">Url</label>
                <input type="text" th:field="*{url}" class="form-control bg-light text-dark" id="url" aria-describedby="urlHelp">
                <small id="urlHelp" class="form-text text-muted">send to this link if click</small>
            </div>
            <div class="col-sm-4">
                <label for="text">Text</label>
                <input type="text" th:field="*{text}" class="form-control bg-light text-dark" id="text" aria-describedby="textHelp">
                <small id="textHelp" class="form-text text-muted">show this text by the image</small>
            </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Save content</button>
    </form>

    <h3 class="display-4">Existing content in this scenario:</h3>
    <div class="w3-content w3-section"style="max-width: 30%; float: top;" >
        <img th:each="contentItem : ${contentList}" th:src="${contentItem.image}" style="width:100%" src="">
    </div>

</div>

</body>
</html>