<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheetTest.css">
</head>
<body>



<div class="imageBox" align="center" >

    <!--<img src="summerBeach.jpg" style="max-width: 200%;">-->

    <div class="portrait">
        <img src="FinalProjectOverlay2.png" style="max-width: 100%;">
</div>
<!--
    <div class="productBox" align="center" >
-25
        <div class="portrait2">
            <img src="productArea.jpg" style="max-width: 100%;">
        </div>-->

        <div class="portrait3">
            <div class="w3-content w3-section"  style="width: 100%; float: top; clip-path: inset(15.5% 0% 15% 0%);">
                <img class="mySlides w3-animate-fading" th:each="contentItem : ${contentList}" th:src="${contentItem.image}" style="width: 37%; margin-top: -93.1%;">
            </div>

            <div class="w3-content w3-section"  style="width: 100%; float: top; clip-path: inset(15% 0% 21.1% 0%);">
                <img class="mySlides2 w3-animate-fading" th:each="contentItem : ${contentList}" th:src="${contentItem.image}" style="width: 37%; margin-top: -18.35%">
            </div>

            <div>
                <img src="hmLogo.png" style="max-width: 8%; margin-top: -9.5%; position: absolute; left: 46.5%; z-index: 15;">
            </div>

    </div>
</div>





<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    let i;
    let x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4500);
  }

  var myIndex2 = 2;
  setTimeout(carousel2, 900);

  function carousel2() {
    let i;
    let x = document.getElementsByClassName("mySlides2");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex2++;
    if (myIndex2 > x.length) {myIndex2 = 1}
    x[myIndex2-1].style.display = "block";
    setTimeout(carousel2, 4500);

  }
  </script>

</body>
</html>

