<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>

<div id="imageBox" align="center">

  <div class="login" align="right">
    <form action="" method="post">
        <input class="email" name="email">
        <input class="password" name="password">
        <button class="loginbtn" name="login">Login</button>
    </form>
  </div>


<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <br>
        <img src="swimshorts1.jfif" width="25%">
        <img src="swimshorts2.jfif" width="25%">
        <img src="swimshorts3.jfif" width="25%">
        <img src="swimshorts4.jfif" width="25%">
    </tr>
</table>
</div>


</body>
</html>
