<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dummy weather Page</title>
</head>
<body>
<h1 th:text="${city}+' ' +${country}"></h1>
<h2>Current values:</h2>
<h3 th:text="'temp: ' + ${currentTemp}+' C'"></h3>
<h3 th:text="'temp cat: ' + ${tempcat}"></h3>
<h3 th:text="'wind: ' + ${currentWindSpeed} + ' m/s'"></h3>
<h3 th:text="'category: ' + ${currentWeatherCategory}"></h3>
<h3 th:text="'symbolnr: ' + ${currentWeatherSymbolnr}"></h3>
<h3 th:text="'symboltext: ' + ${currentWeatherSymbolText}"></h3>
<img th:src="${currentWeatherImage}"/>
<img th:src="${contentimage}"/>

<!--
model.addAttribute("currentWeatherImage", currentWeatherImager);
        model.addAttribute("currentWeatherSymbolText", currentSymbolText);
-->
<table border="1">
    <tr>
        <th>Time</th>
        <th>Temperature</th>
        <th>Icon</th>
    </tr>
    <tr th:if="${weather.timeSeries}!=null" th:each="time : ${weather.timeSeries}">
        <td th:text="${time.validTime}"></td>
        <td th:each="parameter : ${time.parameters}" th:if="${parameter.name} == 't'"><span th:text="${parameter.getValue()}"></span></td>
        <td th:each="parameter : ${time.parameters}" th:if="${parameter.name} == 'Wsymb2'">

            <span th:text="${parameter.getValue()}"></span>
        </td>
    </tr>
</table>
</body>
</html>