<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Scenarios</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>

<div class="container-test" align="center">
    <ul class="navbar" align="center">
        <li><a href="setuppanel">Store setup</a></li>
        <li><a class="disabledNavLink" href="">Website</a></li>
        <li><a class="disabledNavLink" href="">Mobile app</a></li>
        <li><a th:href="'scenarios'" class="active">Show scenarios</a></li>
    </ul>

    <div class="header-test">
        <h2 align="center" style="margin-top: 7px;">Scenarios</h2>
    </div>

    <div class="scroll-body">
        <div class="body-test" align="center">
            <div class="body-content">

                <form th:action="'/addContent/' +${scenarioId}" method="POST">
                    <table class="tableBody" align="center" >
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qty Content</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="scenario,iter : ${scenarios}">
                            <td th:text="${scenario.id}">Id</td>
                            <td th:text="${scenario.description}">Description</td>
                            <td th:text="${scenario.qtyContent}"></td>
                            <td><a th:href="'addcontent/' +${scenario.id}" class="showContent-btn">Show content</a></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer-test">
    <div class="footer">
        <img src="hmGroupBrands1.png" align="center">
    </div>
</div>


</body>
</html>
