<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Setup panel</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>

<div class="header-setupPanel">
    <!-- <img src="hmGroup1.jpeg" height="100%" width="10%">-->
    <ul class="navbar" align="center">
        <li><a href="setuppanel" class="active">Store setup</a></li>
        <li><a class="disabledNavLink" href="">Website</a></li>
        <li><a class="disabledNavLink" href="">Mobile app</a></li>
        <li><a th:href="'scenarios'">Show scenarios</a></li>
    </ul>
</div>

<div class="imageBox">

    <div class="content">
        <h1 align="center">Admin page - setup panel</h1>
    <form th:action="@{/index}" method="POST">

        <h4 align="left">Brand</h4>

        <select name="brand" class="brand-dropdown">
            <option value="H&M">H&M</option>
            <option value="COS">COS</option>
            <option value="WEEKDAY">WEEKDAY</option>
            <option value="MONKI">MONKI</option>
            <option value="HOME">HOME</option>
            <option value="& Other Stories">& Other Stories</option>
            <option value="ARKET">ARKET</option>
            <option value="AFOUND">AFOUND</option>
        </select>

        <h4 align="left">Store</h4>

        <select name="store" class="store-dropdown">
            <option value="TBD">Drottninggatan 56, 111 21 Stockholm</option>

        </select>

        <h4 align="left">Monitor</h4>

        <select name="monitor" class="monitor-dropdown" >
            <option value="TBD">Monitor 1</option>
            <option value="TBD">Monitor 2</option>
            <option value="TBD">Monitor 3</option>

        </select>

        <h4 align="left">City</h4>
        <select th:name="city" class="city-dropdown">
            <option th:each="location : ${locations}"
                    th:value="${location}"
                    th:text="${location}"></option>
        </select>


        <h4 align="left">Department</h4>
        <select th:name="department" class="department-dropdown">
            <option th:each="dep : ${departments}"
                    th:value="${dep.id}"
                    th:text="${dep.description}"></option>
        </select>


        <h4 align="left">Time frame</h4>
        <select name="forecastdays" class="smhidays-dropdown">
            <option th:each="day : ${T(com.example.Weatherbasedcontent.WeatherAPIWW.ForecastDays).values()}"
                    th:value="${day}"
                    th:text="${day}"></option>
        </select>

        <input type="submit" class="startPanel-btn" value="Start panel">
    </form>

    <!--Move to new template "Scenarios" in sidebar-->

    <!--Scenarios button latest version-->
    <!--<a th:href="'scenarios'" class="showScenarios-btn" value="Show scenarios">Show scenarios</a>-->

    <!--Scenarios button first version-->
    <!--<a th:href="'scenarios'" class="showScenarios-btn">Show scenarios</a>-->
</div>
</div>

    <div class="footer" align="center">
        <img src="hmGroupBrands.png" align="center">
    </div>



</body>
</html>
