<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dummy weather Page</title>
</head>
<body>
<h1>Admin page - setup panel</h1>







<form th:action="@{/index}" method="POST" >



    <select th:name="city">
        <option th:each="location : ${locations}"
                th:value="${location.name}"
                th:text="${location.name}"></option>
    </select>
    <select th:name="department">
        <option th:each="dep : ${departments}"
                th:value="${dep.id}"
                th:text="${dep.description}"></option>
    </select>

    <input type="submit" value="Start Index">
</form>



</body>
</html>
</body>
</html>