body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
/*  If enabled, scroll sideways appears..
    width: 100%;
    height: 100%;
*/


/*
    background-position: absolute;
    background-repeat: no-repeat;
*/
    justify-content: center;
    align-items: center;
}

img {
    /*max-width: 188%;*/
    max-height: 100%;

}

.portrait {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 0;
    left: 0;
    max-width: 100%;
    background-image: url("summerBeach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.portrait2 {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 0;
    left: 0;
}



.imageBox {
    height: 100%;
    width: 100%;
    background-size: cover cover;
   /* clip-path: inset(0px 1% 0 1%);*/
    background-size: cover cover;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
    border: 1px;
    border-radius: 3;
    border-color: #000000;
    background-repeat: no-repeat;

}